
.cta{}



/* Carousel */
.d-block {
     height: 500px;
     background-size: cover;
     background-position: center center;
}

.carousel-text-block {
     z-index: 100;
     position: absolute;
     color: black;
     font-size: 48px;
     /* -webkit-text-stroke: 1px white; */
     left: auto;
     top: 10px;
}




/* NAVBAR */

.nav-link {
     font-weight: bold;
}

#main_navbar {
     /* background-color: #FF4500 !important; */
     background: linear-gradient(to bottom, #ff6600 0%, #ff0000 100%);
     margin-bottom: 500px !important;
     border-bottom: 3px solid gray;
}

#navbarDropdown {
     border:1px solid black;
     color: white;
     border-radius: 8px;
     /* font-weight: bold; */
     background-color: gray;
     min-width: 130px;
}

@media only screen and (max-width: 550px) {

     #FPDheader{
          display: none;
     }


   }

   @media only screen and (min-width: 550px) {

     #FPDheader2{
          display: none;
     }


   }


/* Quotation */
#main_quote {
     position: inherit;
     translate: -10px -0px;
     z-index: 10;
     font-size: 15pt;
     font-style: italic;
}

@media only screen and (max-width: 600px) {
     #main_quote {
       display: none
     }

   }


#AlexandraPaul {
     font-size: 12pt;

}


.lead {
     margin-left: 50px;
     margin-right: 50px;
}

elemento {
     min-height: 600px !important;

}

/* BODY */
.video_container{
     position: relative;
}


#vid_home{
     filter: brightness(40%);
     position: relative;
     z-index:0;

}




.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:15;
}

#ov1 {
     color: white;
     position:relative;
     width: 200px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     margin-top: 50%;
     margin-left: 15%;
     width: 100%;


}



h1,h2,h3,h4,h5,h6 {
     text-align: center;
}





/* HERO*/

