




#main_navbar {
     background-color: #FF4500 !important;
     margin-bottom: 500px !important;
}

#main_quote {
     margin-right: 50px;
}

.lead {
     margin-left: 50px;
     margin-right: 50px;
}