<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " id="main_navbar">
     <div class="container-fluid">
       <a class="navbar-brand" href="/">
         <img src="static/src/imgs/Logo_fpd.png" style="width: 80PX; margin-right: 10px;"> 
         <strong id='FPDheader'>FDP Trading Deutschland GMBH</strong>  
         <strong id='FPDheader2'>FDP Trading Deutschland</strong>  
        </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       
       
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
            <li class="nav-item">
            <a class="nav-link" href="showroom">Showroom</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Luxury Rent</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Selling</a>
            </li>
           

         </ul>
         
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
           
           <li class="nav-item">
             <a class="nav-link" href="#">About</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#" style="margin-right: 10px;">FAQs</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Sign In</a></li>
                <li><a class="dropdown-item" href="#">Sign Up</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Admin</a></li>
                <li><a class="dropdown-item" href="#">Admin</a></li>
              </ul>
            </li>
            
          </ul>
       </div>
     </div>
   </nav>

   <div class="" style="margin-top: 3.5rem;"></div>
