{% extends "base.html" %}

{% block content %}
<div class="video_container">
 

  <video autoplay loop style="width: 100%;" id='vid_home'>
    <source src="static/src/vid/videocar.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
    

    <div class="overlay">
      <p class="display-6" id='ov1'>#1 Car Broker Specialist</p>
      <p class="display-5" style="color: white; margin-left: 15%;">FDP Trading Deutschland GMBH</p>
      

    </div>


</div>





   


<!-- Quote -->
<figure class="text-end" id="main_quote">
<blockquote class="blockquote">
     <p>"The cars we drive say a lot about us."</p>
</blockquote>
<figcaption class="blockquote-footer" id='AlexandraPaul'>
     <cite title="Source Title">Alexandra Paul</cite>
</figcaption>
</figure>


   

<div class="row">
     <div class="col-sm-4">
          <h3>Titolo1</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>
     <div class="col-sm-4">
          <h3>Titolo2</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>
     <div class="col-sm-4">
          <h3>Titolo3</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>

</div>
   
   
   
<div class="container-fluid">
     
     <p class="lead" style="margin-top: 5rem;">FDP trading provides its fleet of cars for any of your special events.</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     
</div>


{% endblock content%}