{% extends "base.html" %}

{% block content %}


<!-- carousel -->
 <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
     <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
       <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner">
       <div class="carousel-item active" data-bs-interval="30000">
          <img class="d-block w-100" alt="..." style="background-image: url(static/src/imgs/20-Fastest-Cars-FB.jpg);">
         <div class="carousel-caption d-none d-md-block">
           <h5>Ferrari Portofino</h5>
           <p>A refined coupé-cabriolet that stands out for its 2+2 configuration.</p>
         </div>
       </div>
       <div class="carousel-item" data-bs-interval="30000">
     <img  class="d-block w-100" alt="..." style="background-image: url(static/src/imgs/67jAIjz.png);">
         <div class="carousel-caption d-none d-md-block">
           <h5>Audi R8 Spyder</h5>
           <p>Some representative placeholder content for the second slide.</p>
         </div>
       </div>
       <div class="carousel-item" data-bs-interval="30000">
     <img  class="d-block w-100" alt="..." style="background-image: url(static/src/imgs/960x0.jpg);">
         <div class="carousel-caption d-none d-md-block">
           <h5>Audi RSQ3</h5>
           <p>Some representative placeholder content for the third slide.</p>
         </div>
       </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>

     <div class="carousel-text-block">
          <p> Luxury Cars</p>
     </div>

   </div>
<!-- end carousel -->

   


<!-- Quote -->
<figure class="text-end" id="main_quote">
<blockquote class="blockquote">
     <p class="display-6">The cars we drive say a lot about us.</p>
</blockquote>
<figcaption class="blockquote-footer">
     <cite title="Source Title">Alexandra Paul</cite>
</figcaption>
</figure>
   

<div class="row">
     <div class="col-sm-4">
          <h3>Titolo1</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>
     <div class="col-sm-4">
          <h3>Titolo2</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>
     <div class="col-sm-4">
          <h3>Titolo3</h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, accusantium quos quasi minus ratione dolorem, deleniti quisquam ullam quia adipisci nihil dicta distinctio aliquam, consequatur velit sit? Saepe, ratione unde.
     </div>

</div>
   
   
   
<div class="container-fluid">
     
     <p class="lead" style="margin-top: 5rem;">FDP trading provides its fleet of cars for any of your special events.</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     
</div>


{% endblock content%}