{% extends "base.html" %}

{% block content %}
<div class="video_container">
 

  <video autoplay loop style="width: 100%;" id='vid_home'>
    <source src="static/src/vid/videocar.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
    

    <div class="overlay " style="height: 100%;">
      <p  id='ov1'> One step away from your dream car </p>
      <img src="static/src/imgs/Logo_fpd_white.png" id='logowhite' class="animate__animated animate__flipInX animate__delay-2s"> 
      <p  id='ov2' class="animate__animated animate__backInDown animate__delay-1s">FDP Trading Deutschland GmbH</p>
      <p  id='ov3' class="animate__animated animate__backInDown animate__delay-1s">Car Broker specialist</p>
      <div class="text-center" >
           <button type="button" class="btn btn-warning btn-lg" id='ov-but'>Book a consultation <i class="fas fa-calendar-alt"></i></button>
      </div>

    </div>


</div>

<div class="vs-3"></div>

<!-- Bg1 -->
<div class="container-fluid reveal" id='Bg1'>


          <div class="row">
            <div class="col-sm-3 align-self-start reveal" >
               <div class="window" style="height: 250px; width: 400px;">
                    <div class="titlebar">
                      <div class="buttons">
                        <div class="close">
                          <a class="closebutton" href="#"><span><strong>x</strong></span></a>
                          <!-- close button link -->
                        </div>
                        <div class="minimize">
                          <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
                          <!-- minimize button link -->
                        </div>
                        <div class="zoom">
                          <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
                          <!-- zoom button link -->
                        </div>
                      </div>
                      FDP Trading System
                      <!-- window title -->
                    </div>
                    <div class="content">
                      <h3>Rent a luxury car has never been so easy!</h3>
                      Our fleet is at your disposal. Register and start now to drive the car of your dreams.
                      <a class="btn btn-warning text-center" href="/showroom" id='btn_rent'> Start Renting </a>
                      <!-- window content -->
                    </div>
               </div>
            </div>



            <div class="col-sm-12 align-self-center reveal_zoom">
               <img src="../static/src/imgs/ferr.png" alt="car" id='carmon' >
            </div>

            <div class="col-sm-12 align-self-end reveal" id="bg1_3">
              <h1 style="color: white; margin-bottom: 10px; font-size: medium; text-align: right;">Top car of the month</h1>
                <h1 style="color: white; margin-bottom: 10px;text-align: right; ">Ferrari Portofino <span class="badge bg-secondary">New</span></h1>
            </div>
          </div>

</div>

<div class="vs-3"></div>
<!-- Bg2 -->
<div class="container-fluid reveal" id='Bg2' style="width: 100%; height: 90vh;">

     <div class="row">
       <div class="col-sm-4 align-self-start reveal">
          <div class="window" style="height: 200px; width: 350px;">
               <div class="titlebar">
                 <div class="buttons">
                   <div class="close">
                     <a class="closebutton" href="#"><span><strong>x</strong></span></a>
                     <!-- close button link -->
                   </div>
                   <div class="minimize">
                     <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
                     <!-- minimize button link -->
                   </div>
                   <div class="zoom">
                     <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
                     <!-- zoom button link -->
                   </div>
                 </div>
                 FDP Trading System
                 <!-- window title -->
               </div>
               <div class="content">
                 <h3>Rent a luxury car has never been so easy!</h3>
                 Our fleet is at your disposal. Start now to drive the car of your dreams.
                 <a class="btn btn-warning text-center" href="#" id='ref_rent'> Start Renting </a>
                 <!-- window content -->
               </div>
          </div>
       </div>

       <div class="col-sm-4 align-self-center reveal_zoom">
          <img src="../static/src/imgs/ferr.png" alt="car" id='carmon' >
       </div>

       <div class="col-sm-4 align-self-end reveal">
          <h1 style="color: white; margin-bottom: 10px; font-size: medium; ">Top car of the month</h1>
       </div>
     </div>

</div>




<div class="vs-3"></div>

<h1 class="reveal_zoom">Our Services</h1>
<br>   

<div class="row reveal_zoom">
     <div class="col-sm-4 ">
          <h3 class=" display-6 leadtitle"> <i class="fas fa-crown"></i> Luxury Rent <i class="fas fa-crown"></i></h3>
          <p class="lead text-center leadind">FDP trading provides its fleet of cars for any of your special events.</p>

     </div>
     <div class="col-sm-4 ">
          <h3 class=" display-6 leadtitle"> <i class="far fa-handshake"></i> Broker Consulting <i class="far fa-handshake"></i></h3>
          <p class="lead text-center leadind">Brokerage solutions for all your negotiations </p>
     </div>
     <div class="col-sm-4 ">
          <h3 class=" display-6 leadtitle"><i class="fas fa-car-side"></i> Car Seller <i class="fas fa-car"></i></h3>
          <p class="lead text-center leadind">Import&Export cars at super competitive prices</p>
    </div>

</div>
   
<hr>  
   
<div class="container-fluid">
     
     <p class="lead" style="margin-top: 2rem;">FDP trading provides its fleet of cars for any of your special events.</p>
     <p class="lead">FDP trading is a multi-brand car dealer that offers its customers an excellent quality-price ratio. Since five years we are on the market having sold more than a thousand cars. Main brands sold include Ferrari and Lamborghini.</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     
</div>


{% endblock content%}