{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
     
     <p class="lead" style="margin-top: 5rem;">FDP trading provides its fleet of cars for any of your special events.</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id, tempore fugit sunt expedita molestias, ut cum excepturi officiis quibusdam in error quasi dolores nam numquam, dignissimos quia corrupti vel!</p>
     
</div>












{% endblock content%}
